*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    color: white;
    font-size: 1.5vw;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20vh 40vh 30vh 40vh 20vh;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "b b b b b b b b b b s s"
    "m m m m m m m m m m s s"
    "m m m m m m m m m m s s"
    "f f f f f f f f f f f f";
}

header{
    grid-area: h;
    background-color: #4169e1;
}
header p{
    margin: 1%;
}
.smallcombo{
    grid-area: b;
    display: flex;
    grid-area: 1vw;
    justify-content: space-between;
}
.SmallBox1, .SmallBox2, .SmallBox3{
    background-color: #4169e1;
    width: 32%;
    padding: 1%;
}
.Sidebar{
    padding: 5%;
    grid-area: s;
    background-color: #4169e1;
}
.MainContent{
    padding: 1%;
    grid-area: m;
    background-color: #4169e1;
}
footer{
    padding: 1%;
    grid-area: f;
    background-color: #4169e1;
}